section.about
	.about-info(style="background-image: url(img/content-img/company.jpg)")
		.container
			.about-info__content
				.block-title.block-title--color.text-center
					h2 Быстро Строй это:
				.benefits-list
					.row
						.col-md-4
							.benefit-item
								.benefit-icon
									+benefit1
								.benefit-text
									h4.head-4  Опытная команда
									p Мы работаем на рынке строительства более 20&nbsp;лет!
						.col-md-4
							.benefit-item
								.benefit-icon
									+benefit2
								.benefit-text
									h4.head-4  Прогрессивные технологии
									p Мы всегда в курсе современных решений!
						.col-md-4
							.benefit-item
								.benefit-icon
									+benefit3
								.benefit-text
									h4.head-4  Лучшее сырье
									p Используем только надежные материалы!
	.price-info
		.container
			.price-block(style="background-image: url(img/content-img/price-block.jpg)")
				.price-block__content
					.block-title.text-center
						h2 Стоимость услуг
					p.text-center.text-18 Полистовая сборка – это оптимальный вариант возведения сооружения, которая сочетает в себе приемлемую стоимость и высокий уровень качества. С помощью таких построек предоставляется возможность создать следующие условия:
					.price-list
						.row
							.col-md-4
								.price-list__item
									h4.head-4  от 1700 рублей за кв.м.
									p Строительство ангаров для хранений фруктов, производственные помещения или склад.
							.col-md-4
								.price-list__item
									h4.head-4  от 3000 рублей за кв.м.
									p Из каркасов за небольшое количество времени можно построить ледовый дворец или спортивный комплекс.
							.col-md-4
								.price-list__item
									h4.head-4  от 4500 рублей за кв.м
									p Коммерческая деятель&shy;ность – строительство торговых и развлека&shy;тельных центров и офисных помещений.
							

