section.clients
	.container
		h2.section-title
			p  Наши клиенты
			p Для кого мы строили:

		.d-block.d-lg-none.clients-logo.owl-carousel
			.clients-logo__img(style="background-image:url(img/clients/client1.png)")
			.clients-logo__img(style="background-image:url(img/clients/client2.png)")
			.clients-logo__img(style="background-image:url(img/clients/client3.png)")
			.clients-logo__img(style="background-image:url(img/clients/client4.png)")
		.d-none.d-lg-flex.clients-static-block
			img(src="img/clients/client1.png", alt="clients")
		
			img(src="img/clients/client2.png", alt="clients")
		
			img(src="img/clients/client3.png", alt="clients")
	
			img(src="img/clients/client4.png", alt="clients")