section.cta(style="background-image: url(img/content-img/cta.jpg)")
	.container
		.cta-content
			p.text-35 Позвонив по контактному номеру телефона: #[span +7 (917) 327-84-75],<br> Вы получите расчет стоимости здания в течении 30 минут!
			p.title-4 Если у Вас остались вопросы мы с радостью ответим на них!