section.experience
	.container
		h2.section-title
			span Опыт
			span На протяжении долгого времени занимаемся строительством быстровозводимых зданий
	
		.section-content
			.row
				.col-lg-10.col-xl-6
					.number-list.number-list--experience
						ul
							li
								+number-list('01', 'Ангары разнообразных видов', 'Ангар и склад – это здания, строительство которых осуществляется из легких металлических конструкций. Их основной целью является промышленная деятельность.')
							li
								+number-list('02', 'Складские помещения и зернохранилища', 'Производственное помещение относится к большим сооружениям. Оно состоит из стальных каркасов. В данных зданиях часто осуществляется установка сложного оборудования и большого количества производственных линий.')
								
							li
								+number-list('03', 'Торговые комплексы и помещения ', 'На сегодняшний день, достаточно популярными и востребованными считаются торговые помещения, строительство которых осуществляется с использованием сэндвич-панелей.')
							li
								+number-list('04', 'Автомойки и автосервисы', 'Быстровозводимые авто мойки и автосервисы – основная деятельность компании. Квалификация специалистов позволяет за короткий срок времени построить необходимый проект ')
				.d-none.d-xl-block.col-xl-6
					.section-content__img
						img(src="img/content-img/placeholder-long.png", alt="img")
						.img-top
							img(src="img/content-img/image 1.jpg", alt="img")
						.img-bottom
							img(src="img/content-img/image 2.jpg", alt="img")