section.faq
	.container
		h2.section-title
			p FAQ
			p Часто задаваемые вопросы:
		.page-content
			#answers
				.card
					#headingOne.card-header
						h5
							button.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
								| Каковы преимущества быстровозводимых зданий?
								span.arrow
									+arrow
					#collapseOne.collapsable.collapse(aria-labelledby="headingOne" data-parent="#answers")
						.card-body 	Строительство и проектировка осуществляется только в соответствии с предпочтениями заказчика. Структура организации обладает собственным проектировочным отделом, производственной территорией и высококвалифицированными специалистами. По необходимости компания, в соответствии с требованиями заказчика, соберет только каркас или установит комплектующие конструкции. Также к основным услугам относится постройка зданий «под ключ». Специалисты подготовят полный пакет документации для надзорных органов. Также организация поможет получить разрешение на возведение объекта. 
						
				.card
					#headingTwo.card-header
						
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
								| Насколько прочен и безопасен каркас зданий ? 
								span.arrow
									+arrow
					#collapseTwo.collapsable.collapse(aria-labelledby="headingTwo" data-parent="#answers")
						.card-body Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde saepe veniam quasi qui, voluptate accusantium temporibus illo perspiciatis incidunt facilis repellat odit reiciendis nulla debitis labore distinctio fugit excepturi cupiditate.
							
				.card
					#headingThree.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
								| Сколько времени займет строительство здания с учетом времени доставки?
								span.arrow
									+arrow
					#collapseThree.collapsable.collapse(aria-labelledby="headingThree" data-parent="#answers")
						.card-body Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde saepe veniam quasi qui, voluptate accusantium temporibus illo perspiciatis incidunt facilis repellat odit reiciendis nulla debitis labore distinctio fugit excepturi cupiditate.
				
				.card
					#headingFive.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
								| На какую нагрузку рассчитаны здания (ветровую, снеговую и т. д.)? 
								span.arrow
									+arrow
					#collapseFive.collapsable.collapse(aria-labelledby="headingFive" data-parent="#answers")
						.card-body Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde saepe veniam quasi qui, voluptate accusantium temporibus illo perspiciatis incidunt facilis repellat odit reiciendis nulla debitis labore distinctio fugit excepturi cupiditate.
				.card
					#headingSix.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
								| Здания являются теплыми или холодными?
								span.arrow
									+arrow
					#collapseSix.collapsable.collapse(aria-labelledby="headingSix" data-parent="#answers")
						.card-body Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde saepe veniam quasi qui, voluptate accusantium temporibus illo perspiciatis incidunt facilis repellat odit reiciendis nulla debitis labore distinctio fugit excepturi cupiditate.