.header-fixed-mobile
	.container
		.header-contacts
			a(href="#").logo.logo-mobile
				.logo-icon
					img(src="img/logo/logo-white.png", alt="logo")
				.logo-text
					span Быстро-Строй
					span строительная компания
			.menu-toggle
				span