footer.footer
	.footer-content(style="background-image: url(img/footer/image.jpg)")
		.container
			.row
				.col-sm-6.col-md-5.col-lg-4
					.footer-logo
						a(href="index.html").logo
							.logo-icon
								img(src="img/logo/logo-white.png", alt="logo")
							.logo-text
								span Быстро-Строй
								span строительная компания
						p Быстровозводимые здания из металлоконструкций- это отличный вариант для быстрого запуска бизнеса
				.d-none.d-md-block.col-md-3.offset-lg-1
					.footer-menu.footer-col
						nav
							.title-4 Меню
							a(href="#") Главная
							a(href="#") О нас
							a(href="#") Услуги
							a(href="#") Портфолио
							a(href="#") Контакты
				.col-sm-6.col-md-4.col-xl-3.offset-xl-1
					.footer-contacts.footer-col
						nav
							.title-4 Контакты
							p г. Саратов, ул. Московская,7
							a(href="tel:+79173278475") +7 (917) 327-84-75 
							a(href="mailto:bystro-stroy@list.ru") bystro-stroy@list.ru
							.footer-sochial
								a(href="#")
									i.fab.fa-whatsapp
								a(href="#")
									i.fas.fa-video
								a(href="#")
									i.fab.fa-vk
								a(href="#")
									i.fab.fa-instagram
		