//верхняя панель в шапке
.header-top
	.container
		.header-contacts
			a(href="#").logo.logo-mobile
				.logo-icon
					img(src="img/logo/logo-white.png", alt="logo")
				.logo-text
					span Быстро-Строй
					span строительная компания
					
			.contacts-phone
				.phone-icon
					+phone
				a(href="#!") +7 (917) 327-84-75
				a(href="#!") +7 (996) 129-77-93
			.contacts-email
				a(href="#!") bystro-stroy@list.ru
			.menu-toggle
				span
		//навигация в верхней панели шапки, она же фиксирующаяся шапка
		.fix-header
			.header-nav
				.close-mobMenu
					span
				.header-nav__content
					a(href="#").logo
						.logo-icon
							+logo
						.logo-text
							span Быстро-Строй
							span строительная компания
					.header-menu
						ul
							li.active
								a(href="#!") Главная
							li
								a(href="aboutus.html") о нас
							li
								a(href="#!") услуги
							li
								a(href="#!") портфолио
							li
								a(href="#!") контакты
						.search-block
							button.search-icon
								+search(class="search-ic active")
								span.times-ic +
				//форма поиска в верхней панели
				.search-form-wrapper
					form(action="#").search-form
						.form-field
							input(type="text" name="search" placeholder="Введите слово для поиска")
							button(type="submit")
								i.fas.fa-search
//шапка
header.header
	.container
		.header-content
			.video-wrapper(style='background-image: url(img/main-page/poster.jpg)')
			.title-group
				h1.title-1
					span Быстро-Строй
					span Быстровозводимые <br> каркасные <br> сооружения
			+btn('Получить консультацию')(class=" button--big")
			.marker-list.marker-list--disk
				ul
					li 
						span Холодные здания
						span от 1700 руб. за кв.м
					li
						span  Утепленные здания (Полистовая сборка)
						span  от 3000 руб. за кв.м
					li
						span Утепленные здания (Обшитые сендвич панелями)
						span от 4000 руб. за кв.м