.header-top
	.container
		.header-contacts
			.contacts-phone
				.phone-icon
					+phone
				a(href="#!") +7 (917) 327-84-75
				a(href="#!") +7 (996) 129-77-93
			.contacts-email
				a(href="#!") bystro-stroy@list.ru
		.header-nav
			.header-nav__content
				a(href="#").logo
					.logo-icon
						+logo
					.logo-text
						span Быстро-Строй
						span строительная компания
				.header-menu
					ul
						li
							a(href="#!") Главная
						li
							a(href="aboutus.html") о нас
						li
							a(href="#!") услуги
						li
							a(href="#!") портфолио
						li
							a(href="#!") контакты
					.search-block
						button.search-icon
							+search(class="search-ic active")
							span.times-ic +
			.search-form-wrapper
				form(action="#").search-form
					.form-field
						input(type="text" name="search" placeholder="Введите слово для поиска")
						button(type="submit")
							i.fas.fa-search
			