header.header
	.container
		.header-contacts
			.contacts-phone
				.phone-icon
					+phone
				a(href="#!") +7 (917) 327-84-75
				a(href="#!") +7 (996) 129-77-93
			.contacts-email
				a(href="#!") bystro-stroy@list.ru