//верхняя панель в шапке
.header-top
	.container
		.header-contacts
			a(href="index.html").logo.logo-mobile
				.logo-icon
					img(src="img/logo/logo-white.png", alt="logo")
				.logo-text
					span Быстро-Строй
					span строительная компания
					
			.contacts-phone
				.phone-icon
					+phone
				a(href="#!") +7 (917) 327-84-75
				a(href="#!") +7 (996) 129-77-93
			.contacts-email
				a(href="#!") bystro-stroy@list.ru
			.menu-toggle
				span
		//навигация в верхней панели шапки, она же фиксирующаяся шапка
		.fix-header
			.header-nav
				.close-mobMenu
					span
				.header-nav__content
					a(href="index.html").logo
						.logo-icon
							+logo
						.logo-text
							span Быстро-Строй
							span строительная компания
					.header-menu
						ul
							li.active
								a(href="index.html") Главная
							li
								a(href="aboutus.html") о нас
							li
								a(href="#!") услуги
							li
								a(href="#!") портфолио
							li
								a(href="#!") контакты
						.search-block
							button.search-icon
								+search(class="search-ic active")
								span.times-ic +
				//форма поиска в верхней панели
				.search-form-wrapper
					form(action="#").search-form
						.form-field
							input(type="text" name="search" placeholder="Введите слово для поиска")
							button(type="submit")
								i.fas.fa-search
header.page-header(style="background-image: url(img/header/aboutus.jpg)")
	.container
		.page-header__content
			h1.page-title О нас
			.breadcrb
				a(href="index.html") Главная
				a(href="index.html") О нас