section.construction-type
	.container
		.section-content
			.row
				.d-none.d-xl-block.col-xl-6
					.section-content__img
						img(src="img/placeholder.png", alt="img")
						.img-top
							img(src="img/main-page/image 1.jpg", alt="img")
						.img-bottom
							img(src="img/main-page/image 2.jpg", alt="img")
				.col-lg-10.col-xl-6
					.number-list.number-list--construction-type
						ul
							li
								+number-list('01', 'Холодные здания', 'Строительство и проектировка осуществляется только в соответствии с предпочтениями заказчика. Структура организации обладает собственным проектировочным отделом, производственной территорией и высококвалифицированными специалистами')
							li
								+number-list('02', 'Утепленные здания (Полистовая сборка)', 'Для создания проекта можно обратить к специалистам компании, которые помогут воплотить в жизнь любую идею. При создании планировки обязательно учитываются требования, которые касаются размещения помещений.')
								
							li
								+number-list('03', 'Утепленные здания (Обшитые сендвич панелями)', 'В результате за короткий срок времени заказчик получит высококачественное здание, в котором можно сразу приступать к работе.')
								