section.projects
	.container
		h2.section-title.text-center
			p  Объекты
			p Посмотрите наши <br> реализованные проекты
		.project-cards
			a(href="#!").project-cards__item
				img(src="img/projects/project1.jpg", alt="img")
				.hover-block
					p Ангар
			a(href="#!").project-cards__item
				img(src="img/projects/project2.jpg", alt="img")
				.hover-block
					p Магазин
		
			a(href="#!").project-cards__item
				img(src="img/projects/project3.jpg", alt="img")
				.hover-block
					p Склад
		
			a(href="#!").project-cards__item
				img(src="img/projects/project4.jpg", alt="img")
				.hover-block
					p Магазин
		
			a(href="#!").project-cards__item
				img(src="img/projects/project5.jpg", alt="img")
				.hover-block
					p Автосервис
				