section.services
	.container
		h2.section-title
			span оказываем услуги
			span По строительству быстровозводимых каркасных сооружений на основе металлокаркаса
		.section-cards
			.row
				.col-md-6.col-lg-4
					+service-card('1', 'Ангары и склады')
				.col-md-6.col-lg-4
					+service-card('2', 'Производственные помещения')
				.col-md-6.col-lg-4
					+service-card('3', 'Офисные здания')
				.col-md-6.col-lg-4
					+service-card('4', 'Торговые помещения')
				.col-md-6.col-lg-4
					+service-card('5', 'Спорткомплексы')
				.col-md-6.col-lg-4
					+service-card('6', 'Автосервисы и автомойки')
				.col-md-6.col-lg-4
					+service-card('7', 'Металлоконструкции')
				.col-lg-8
					.service-desck
						.title-3
							p Оказание широкого спектра услуг в сфере строительства. Профессионализм и ответственность ключевые преимущества нашей компании.
						.text-18
							p Чтобы оформить заявку, свяжитесь с нашим представителем по телефону +7 (917) 327-84-75 или напишите на электронную почту. Будем рады ответить на все вопросы. 
						+btn('Заказать звонок', '#consultantModal')(class=" button--big")
			