section.our-benefits
	.container
		h2.section-title
			span  Преимущества
			span Наши основные преимущества:
		.section-content
			.text-18
				p Компания предоставляет возможность воспользоваться строительством быстровозводимых зданий. На сайте есть каталог проектов, который можно в любой удобный момент посмотреть. При возведении здания заказчик получает гарантию – 5 лет.
			.benefits-list
				.row
					.col-lg-6
						.marker-list.marker-list--disk.text-18
							ul
								li При строительстве быстровозводимых зданий нет необходимости использовать массивный фундамент. Благодаря такому преимуществу сокращается время возведения здания.
								li Простота и оперативность в монтаже.
								li Проектировка конструкции и ее изготовление осуществляется на заводе. Здесь также учитывается транспортировка. В зависимости от размеров, подбирается специальный транспорт. Данная особенность снижает материальные затраты на заказ транспортного средства.
								li Конструкции можно использовать несколько раз. В любой удобный момент специалисты компании помогут демонтировать здание и перенести его в другое место.
					.col-lg-6
						.marker-list.marker-list--disk.text-18
							ul
								li Высокий уровень устойчивости к разнообразным динамическим нагрузкам. Данная характеристика достигается за счет использования каркасов из стали. 
								li На заводе конструкции полностью комплектуют в зависимости от вида проекта. Заказчику нет необходимости докупать дополнительные элементы или запчасти.
								li Во время эксплуатации в случае механического воздействия возможно быстро и оперативно заменить любую деталь.
								li  Разнообразие дизайна и интерьера. Возможно осуществление строительства из комбинированных каркасов. Для несущей конструкции применяется сварная балка. В качестве второстепенных элементов используется такой материал, как ЛСТК.