section.ser-specter
	.container
		h2.section-title
			span Компания “Быстро-Строй
			span Осуществляем весь спектр услуг по строительству зданий и ангаров
		.section-cards
			.row
				.col-sm-6.col-lg-3
					a(href="#!").specter-card
						.specter-card__img(style="background-image: url(img/aboutus-page/serv1.jpg)")
						.specter-card__text
							p Подготовка участка для строительства
				.col-sm-6.col-lg-3
					a(href="#!").specter-card
						.specter-card__img(style="background-image: url(img/aboutus-page/serv2.jpg)")
						.specter-card__text
							p Проект здания
				.col-sm-6.col-lg-3
					a(href="#!").specter-card
						.specter-card__img(style="background-image: url(img/aboutus-page/serv3.jpg)")
						.specter-card__text
							p Строительство здания 
				.col-sm-6.col-lg-3
					a(href="#!").specter-card
						.specter-card__img(style="background-image: url(img/aboutus-page/serv4.jpg)")
						.specter-card__text
							p Помощь в оформлении в разрешающих органах
			.ser-specter--text.text-18 
				p Быстровозводимые здания из металлоконструкций- это отличный вариант для быстрого запуска бизнеса: монтаж производится в любое время года и в совершенно рекордные сроки. 
				p Вы можете заказать в нашей компании строительство зданий трех видов:
			.marker-list.marker-list--check
				.row
					.col-lg-4
						.marker-item
							p Неутепленное здание, обшитое профлистом
					.col-lg-4
						.marker-item
							p Утепленное здание (полистовая сборка с&nbsp;утеплителем 10&#8209;15&nbsp;см) 
					.col-lg-4
						.marker-item
							p Утепленное здание из сэндвич&#8209;панелей 