section.construction-period
	.container
		.construction-period__content
			.d-none.d-md-block.section-img
				img(src="img/main-page/men.png", alt="img")
			.row
				.col-md-9.offset-md-3
					h2.section-title
						p срок
						p Сроки возведения зданий
		
				.col-md-3.offset-md-3
					a(href="#!").period-card
						.period-card__img
							img(src="img/main-page/period1.jpg", alt="")
							.card-hover
								p от 6 до 10 рабочих дней
						.period-card__title
							p.head-4 До 100 кв.м.
				.col-md-3
					a(href="#!").period-card
						.period-card__img
							img(src="img/main-page/period2.jpg", alt="")
							.card-hover
								p от 10 до 14 рабочих дней
						.period-card__title
							p.head-4 До 500 кв.м.
				.col-md-3
					a(href="#!").period-card
						.period-card__img
							img(src="img/main-page/period3.jpg", alt="")
							.card-hover
								p от 14 до 20 рабочих дней
						.period-card__title
							p.head-4 До 1000 кв.м.