.footer-content {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: @pr;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;

}

.footer-logo {
	a.logo {
		font-size: 18px;

		@media(max-width:1199px) {
			font-size: 14px;
		}

		@media(max-width:991px) {
			font-size: 12px;
		}

		.logo-text span {
			color: #fff;

			&:first-child {
				font-size: 1.9em;
			}

			&:last-child {
				font-size: 1em;
				letter-spacing: 0.8px;
				;
			}
		}
	}

	p {
		color: #B9B9B9;
		padding-top: 20px;
		font-size: 18px;
		max-width: 320px;

		@media(max-width: 1439px) {
			font-size: 16px;
			max-width: unset;
		}
	}

}

.footer-col {
	height: 100%;

	.title-4 {
		color: #fff;
		font-size: 20px;
		margin-bottom: 20px;
	}

	a {
		display: block;
		color: #B9B9B9;
		font-size: 18px;

		@media(max-width: 1439px) {
			font-size: 16px;
		}

		&+a {
			margin-top: 9px;
		}

		&:hover {
			color: @ac2;
		}
	}

	p {
		color: #B9B9B9;
	}
}

.footer-menu {
	@media(min-width: 1200px) {
		padding-left: 30px;
	}
}

.footer-contacts {
	nav {
		height: 100%;
		display: flex;
		flex-direction: column;

		.footer-sochial {
			margin-top: auto;
			padding-bottom: 5px;
		}
	}

	p {
		margin-bottom: 9px;
		font-size: 18px;

		@media(max-width: 1439px) {
			font-size: 16px;
		}
	}

	@media(max-width:767px) {
		margin-top: 30px;
	}
}

.footer-sochial {
	// margin-top: 20px;
	display: flex;

	a {
		color: @ac2;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .5s;

		&+a {
			margin-left: 30px;
			margin-top: 0;
		}

		&:hover {
			color: #B9B9B9;
			background-color: rgba(250, 188, 61, .5);
			border-radius: 0;
		}
	}
}

.footer-copyright {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #B9B9B9;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	background: #252730;
}