.header{
    position: relative;
    background-image: url(../img/header/header.jpg);
    background-position:  center;
    background-size: coover;
    background-repeat: no-repeat;
    height:500px;
    padding-top: 190px;
}
.title-group{
    span{display: block;}
    max-width: 600px;;
}