extends ../layouts/layout.pug

block content
	#overlay
	
	include ../sections/_fix-header.pug
	include ../sections/_header.pug
	include ../sections/_our-services.pug
	include ../sections/_main-page-number-list.pug
	include ../sections/_work-time.pug
	include ../sections/_about-info.pug


block variables
	-var title = "Page";
	