extends ../layouts/layout.pug

block content
	#overlay
	
	include ../sections/_fix-header.pug
	include ../sections/_header.pug
	include ../sections/_our-services.pug
	include ../sections/_main-page-number-list.pug
	include ../sections/_work-time.pug
	include ../sections/_about-info.pug
	include ../sections/_our-projects.pug
	include ../sections/_faq.pug
	include ../sections/_cta.pug
	include ../sections/_clients.pug


block variables
	-var title = "Page";
	