include mixins.pug
block variables


doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title #{title}
		meta(name="keywords" content="" )
		meta(name="description" content="" )
		link( rel="stylesheet" href="libs/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", href="libs/owlCarousel/owl.carousel.min.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="fonts/fontBebasNeue.css")
		link(rel="shortcut icon" href="img/favicon.png"  type="image/x-icon" )
		link(rel="stylesheet", href="css/main.css")

	body


		block content

		script(src="libs/jquery/jquery-3.0.0.min.js")
		script(src="libs/bootstrap/bootstrap.min.js")
		script(src="libs/owlCarousel/owl.carousel.min.js")
		script(src="libs/jquery.maskedinput.min.js")
		script.
			$(function(){

			// #modal_1 - селектор 1 модального окна
			// #modal_2 - селектор 2 модального окна, которое необходимо открыть из первого
			var two_modal = function(id_modal_1,id_modal_2) {
			// определяет, необходимо ли при закрытии текущего модального окна открыть другое
			var show_modal_2 = false;
			// при нажатии на ссылку, содержащей в качестве href селектор модального окна
			$('a[href="' + id_modal_2 + '"]').click(function(e) {
				e.preventDefault();
				show_modal_2 = true;
				// скрыть текущее модальное окно
				$(id_modal_1).modal('hide');
			});
			// при скрытии текущего модального окна открыть другое, если значение переменной show_modal_2 равно true
			$(id_modal_1).on('hidden.bs.modal', function (e) {
				if (show_modal_2) {
				show_modal_2 = false;
				$(id_modal_2).modal('show');
				}
			})

			}('#consultantModal','#politicText');

			});

		script(src='js/main.js')