mixin btn(text, madalName)
	button.button(data-toggle="modal" data-target=" "+ madalName)&attributes(attributes) #{text}

//- SVG
mixin phone
	span
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M16.2502 18.125H16.1439C3.86265 17.4187 2.1189 7.05625 1.87515 3.89375C1.83504 3.37207 2.01473 2.85735 2.3708 2.47398C2.72687 2.09061 3.22693 1.87346 3.75015 1.875H7.0439C7.55616 1.8745 8.01687 2.1866 8.2064 2.6625L9.1564 5C9.34338 5.46446 9.23517 5.99568 8.8814 6.35L7.55015 7.69375C7.9744 10.1152 9.8673 12.0131 12.2877 12.4437L13.6439 11.1C14.0036 10.7501 14.5376 10.6492 15.0002 10.8437L17.3564 11.7875C17.8249 11.9829 18.1287 12.4423 18.1252 12.95V16.25C18.1252 17.2855 17.2857 18.125 16.2502 18.125ZM3.75012 3.125C3.57533 3.12444 3.40828 3.1971 3.28952 3.32536C3.17076 3.45363 3.11114 3.62576 3.12512 3.8C3.41262 7.5 5.25637 16.25 16.2126 16.875C16.3848 16.8853 16.5536 16.8241 16.679 16.7057C16.8045 16.5874 16.8754 16.4225 16.8751 16.25V12.95L14.5189 12.0062L12.7251 13.7875L12.4251 13.75C6.98762 13.0687 6.25012 7.63125 6.25012 7.575L6.21262 7.275L7.98762 5.48125L7.05012 3.125H3.75012Z" fill="#B9B9B9"/>
			<mask id="mask10" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M16.2502 18.125H16.1439C3.86265 17.4187 2.1189 7.05625 1.87515 3.89375C1.83504 3.37207 2.01473 2.85735 2.3708 2.47398C2.72687 2.09061 3.22693 1.87346 3.75015 1.875H7.0439C7.55616 1.8745 8.01687 2.1866 8.2064 2.6625L9.1564 5C9.34338 5.46446 9.23517 5.99568 8.8814 6.35L7.55015 7.69375C7.9744 10.1152 9.8673 12.0131 12.2877 12.4437L13.6439 11.1C14.0036 10.7501 14.5376 10.6492 15.0002 10.8437L17.3564 11.7875C17.8249 11.9829 18.1287 12.4423 18.1252 12.95V16.25C18.1252 17.2855 17.2857 18.125 16.2502 18.125ZM3.75012 3.125C3.57533 3.12444 3.40828 3.1971 3.28952 3.32536C3.17076 3.45363 3.11114 3.62576 3.12512 3.8C3.41262 7.5 5.25637 16.25 16.2126 16.875C16.3848 16.8853 16.5536 16.8241 16.679 16.7057C16.8045 16.5874 16.8754 16.4225 16.8751 16.25V12.95L14.5189 12.0062L12.7251 13.7875L12.4251 13.75C6.98762 13.0687 6.25012 7.63125 6.25012 7.575L6.21262 7.275L7.98762 5.48125L7.05012 3.125H3.75012Z" fill="white"/>
			</mask>
			<g mask="url(#mask10)">
			</g>
			</svg>
